@model List<PruebasAjax.Models.Persona>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Nueva Persona", "Ingresar") <br /><br />
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Documento)</td>
                        <td>@Html.DisplayFor(x => item.Nombre)</td>
                        <td>@Html.DisplayFor(x => item.Apellido)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
